services:
  postgres:
    image: postgres:16
    container_name: postgresql_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: usr_master
      POSTGRES_PASSWORD: "P#ssTu@5532"
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  web:
    image: node:20
    container_name: web_reactjs_horoscopo
    working_dir: /app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://usr_master:P%23ssTu%405532@postgres:5432/postgres?schema=public
      - NEXTAUTH_URL=http://localhost:3000
      - NEXTAUTH_SECRET=your-secret-key-change-this-in-production-min-32-chars
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    command: sh -c "npm install && npx prisma generate && npm run dev"
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  pgdata:
